@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

h1 {
  font-size: 800;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid rgb(128 128 128);
  background: rgb(245 245 245);
  margin-right: 5px;
}
